/* ------Generics------ */
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* end CSS RESET */

body{
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

button{
    background-color: #0061ff;
    border: none;
    padding: 10px 14px;
    color: white;
}

/* button:hover{
    background-color: #0062ff42} */

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
}

ul {
    list-style-type: none;
}

hr:not(#faq hr, .lower-footer>hr){
    width: 25%;
}

i{
    padding-right: 1%;
}
/* ------Utilities------ */

#partnership, #functions, #business-top, #business-bottom, #faq{
    padding-top: 10%;
    padding-bottom: 10%;
}

.w-70{
    width: 70%;
}

.w-30{
    width: 30%;
}

.w-60{
    width: 60%
}

.w-40{
    width: 40%;
}

.grow{
    flex-grow: 1;
}

.container-l {
    max-width: 1200px;
    margin: 0 auto;
}

.container-s{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
 }

/* ------Content------ */

/* UTILITIES */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 5;
}

 nav a{
    vertical-align: middle;
    padding: 0 3%;
    line-height: 10vh;
    text-decoration: none;
    color: #787878;
 }

 nav a:hover:not(#login){
    border-bottom: 2px black solid;
    margin-bottom: -2px;
 }

 nav figure, .bordered-button{
    position: relative;
    padding: 0 3%;
 }

 nav>.left-side.flex.grow>figure>img
 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#login{
    padding: 9% 12px;
    background-color: #0061ff;
    color: white;
}


/* /UTILITIES */

/* INTRODUCTION */
header{
    padding-top: 20vh;
    background-color: #b4d0e7;
}

header article{
    padding-top: 8vh;
}

header figure{
    top: 8vh;
}

header article>*{
    margin-bottom: 10%;
}

header .bottom-header, header figure, header article{
    position: relative;
}

header h1,header i{
    font-size: 5em;

}

header i{
    position: absolute;
    bottom: 0;
}


/* /INTRODUCTION */

/* CONTENT */
main{
    padding-top: 20vh;
}
/* OFFERS */
#offers>*:not(.custom){
    padding-top: 2%;
    padding-bottom: 2%;
}

#annual{
    margin-left: 5%;
}

/* COLUMNS */
.packs>*{
    flex-basis: calc(100% / 3 - 1%);
    border: 2px solid #e0e0e2;
    margin: 0 1%;
}

.head-pack, .head-custom{
    top: 0;
    width: 100%;
    padding: 4%;
    text-align: center;
    border-bottom: 2px solid #e0e0e2;
}

.packs .main-pack{
    padding: 10%;
}

.packs .main-pack>*:not(hr, button){
    padding: 5%;
}

.main-pack>hr,.main-pack>button{
    margin-top: 15%;
    margin-bottom: 15%;
}

.price{
    margin-bottom: 20%;
}

.icon>p{
    font-size: 0.9em;
}

.price>p{
    padding-top: 3%;
    color: #787878;
}

.fa-solid.fa-check{
    color: #0061ff;
}

#offers .packs button{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.packs{
    margin-right: -1%;
    margin-left: -1%;
}
/* /COLUMNS */

.custom{
    margin: 2% 0;
    border: 2px solid #e0e0e2;
}

.head-custom{
    padding: 1%;
}

.main-custom{
    padding: 3%;
}

.text-custom p{
    padding-top: 10%;
}

.text-custom strong{
    padding-top: 1%;
    display: inline-block;
}

.button-custom{
    text-align: right;
}

/* /OFFERS */

/* PARTNERSHIP */

#partnership article>*,
.center-pub>*{
    margin-bottom: 5%;

}

#partnership article{
    padding: 5%;
}

#partnership button{
    background-color: white;
    border: solid 1px;
    color: black;
}
/* /PARTNERSHIP */

/* FUNCTION */
.grid{
        flex-wrap: wrap;
        margin: 1% 0;
    }

.card{
    margin-top: 1%;
    flex-basis: calc(100% / 3 - 1%);
    padding: 2%;    
}

.card article>*,
footer li{
    padding: 5% 0;
}
/* /FUNCTION */

/* BUSINESS */
    .publicity{
        flex-wrap: wrap;
    }

    #business-top>a{
        padding-top: 5%;
        display: inline-block;
    }

    .sponsor{
        width: 15vw;
        height: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12%;
        transition: border 500ms linear;
    }

    .sponsor:hover{
        border: 10px solid currentColor;
    }

    .sponsor>img{
        width: 15vh;
        filter: invert(1);
    }

    .center-pub{
        width: calc(100% - 60vw);
        
    }

    .center-pub img{
        width: 50%;
    }

    #cerulean{
        color: #4ecdff;
        background-color: #0093ce;
    }
    #orange{
        color: #ff6d6d;
        background-color: #fb4343;
    }
    #green{
        color: #c9ffc2;
        background-color: #a2d39b;
    }
    #purple{
        color: #b91a5a;
        background-color: #61082b;
    }
    #gray{
        background-color: #f5f5f5;
        padding: 3%;
    }
    #red{
        color: #fa0025;
        background-color: #d5001f;
    }
    #light-blue{
        color: #d9eaf8;
        background-color: #b4d0e7;
    }
    #blue{
        color: #1c42d7;
        background-color: #0d2481;
    }
    #yellow{
        color: #ffeb92;
        background-color: #ffd830;
    }

    #business-bottom{
    background-color: #b4d0e7;
    }

#business-bottom>div>h2 {
    display: inline-block;
}

.button-pub{
    text-align: right;
    align-self: center;
}

/* /BUSINESS */

/* FAQ */

#faq>*:not(hr){
    padding: 3%;
}

.visible>strong:nth-child(2){
    padding-right: 5%;
}

.invisible{
    padding: 3% 0;
    display: none;
}

.question:hover .invisible{
    display: block;
}

/* /FAQ */
/* /CONTENT */

/* LINKS */

footer{
    background-color: black;
    padding: 5% 0;
    font-size: 0.8em;
}

footer>.container-l>hr, footer>.container-l>button{
    margin: 2% auto;
}

footer a{
    text-decoration: none; 
}

.lower-footer>hr{
    margin: 5% 0;
    width: 10%;
}

footer a:visited ,footer i, select{
    color: white;
}

select{
    background-color: inherit;
    border: none;
}
/* /LINKS */