/* ------Generics------ */
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* end CSS RESET */

body{
    font-family: sans-serif;
}

img {
    width: 100%;
}

button{
    background-color: #0061ff;
    border: none;
    padding: 10px 14px;
    color: white;
}

/* figure>img{
    padding: 21% 7%;
} */
/* ------Utilities------ */


.grow{
    flex-grow: 1;
}

.container-l {
    max-width: 1200px;
    margin: 0 auto;
}

.container-s{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
 }

.debug-figure{
    background-color: rgba(184, 57, 219, 0.658);
    padding: 13%;
}

.border-debug{
    border: solid;
}

/* .v-margin-debug{
    margin: 2% auto;
}

.v-padding-debug{
    padding: 2% auto;
} */

/* ------Content------ */

/* UTILITIES */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 5;
}

 nav>div>*{
    height: 10vh;
 }


 nav a{
    vertical-align: middle;
    padding: 0 3%;
    line-height: 10vh;
    text-decoration: none;
    color: #787878;
 }

 nav figure, .bordered-button{
    position: relative;
    padding: 0 3%;
 }

 nav>.left-side.flex.grow>figure>img
 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#login{
    padding: 9% 12px;
    background-color: #0061ff;
    color: white;
}


/* /UTILITIES */

/* INTRODUCTION */
header{
    padding-top: 20vh;
    background-color: #b4d0e7;
}

header article{
    width: 30%;
    padding-top: 8vh;
    position: relative;
}

header figure{
    width: 70%;
    position: relative;
    top: 8vh;
}

header article>*{
    margin-bottom: 8%;
}

.bottom-header{
    position: relative;
}

header h1,i{
    font-size: 5em;

}

header i{
    position: absolute;
    bottom: 0;
}


/* /INTRODUCTION */

/* CONTENT */
main{
    padding-top: 20vh;
}
/* COLUMNS */
.card, .packs>*{
    flex-basis: calc(100% / 3 - 1%);
    height: 50vh; /* debug */
    border: solid;
}
/* /COLUMNS */

.custom{
    margin: 2% 0;
    border: solid;
}

/* FUNCTION */
    .grid{
        flex-wrap: wrap;
        margin: 1% 0;
    }

    .card{
        margin-top: 1%;

    }
/* /FUNCTION */

/* BUSINESS */
    .publicity{
        /* height: 50vh; */
        background-color:aqua;
        flex-wrap: wrap;

    }

    /* .publicity>div{
        flex-basis: calc(100% / 3);
    } */

    .sponsor{
        width: 15vw;
        height: 15vw;
    }

    .center-pub{
        width: calc(100% - 60vw);
        /* height: calc(100% - 40vw); */
        
    }

    #blue{
        background-color: blue;
    }
    #pink{
        background-color: pink;
    }
    #green{
        background-color: green;
    }
    #red{
        background-color: red;
    }
    #orange{
        background-color: orangered;
    }
    #brown{
        background-color: brown;
    }
    #purple{
        background-color: purple;
    }
    #grey{
        background-color: gray;
    }
    #yellow{
        background-color: yellow;
    }
/* /BUSINESS */

/* Q&A */

.question{
    margin: 5% auto;
}

.question>*{
    margin: 2%;
}

/* /Q&A */
/* /CONTENT */

/* LINKS */

footer{
    background-color: black;
    padding: 2% 0;
}

.links{
    height: 50vh;
    background-color: white;
}

footer>.container-l>hr, footer>.container-l>button{
    margin: 2% auto;
}
/* /LINKS */